.recipeCard {
  display: flex;
  flex-direction: column;
  width: 200px;
  margin: 0 4%;
  margin-top: 30px;
  padding: 1rem;
  border-radius: 10px;
  transition: all 300ms;
  border: 2px solid rgb(133, 128, 128);
  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.3);
}

.recipeCard img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 5px;
}

.recipeCard h2 {
  font-size: 1.5rem;
  margin-top: 0;
  margin-bottom: 0.5rem;
  text-align: center;
}

.recipeCard p {
  font-size: 1.25rem;
  margin-top: 0;
  margin-bottom: 0.5rem;
}

.recipeCard ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.recipeCard ol {
  font-size: 1.25rem;
  margin-top: 0;
  margin-bottom: 0.5rem;
}

.recipeCard button {
  font-size: 1.25rem;
  background-color: #4f514f;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  margin-top: auto;
  cursor: pointer;
  align-self: center;
  
}

.recipeCard button:hover {
  background-color: #d6e0d6;
}